.techcards {
  width: 100%;
  padding: 6rem 1rem;
  display: flex;
  flex-direction: column;
}

.techcards h2 {
  margin: 0;
  font-size: 3rem;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
}

.container {
  max-width: 1140px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 17rem;
  place-items: center;
  text-align: center;
}

.card .card-icon {
  height: 20rem;
  width: 20rem;
}

.card:nth-child(4) {
  grid-column: 1/4;
}

.card-title {
  text-align: center;
  color: #fff;
  font-size: 4rem;
}

.techcards .btn {
  margin: 5rem auto;
  font-size: 2rem;
}

.aboutmecontainer {
  max-width: 1140px;
  margin: auto;
  gap: 17rem;
  place-items: center;
}

.aboutme {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: 9rem;
  place-items: center;
  gap: 2rem;
}

.aboutme p {
  margin: 0;
  font-size: 2rem;
  text-align: justify;
}

.aboutme-pic {
  width: 82%;
}

@media screen and (max-width: 740px) {
  .container {
    max-width: 90%;
    margin: auto;
    grid-template-columns: 1fr;
    place-items: center;
    gap: 4rem;
  }

  .card:nth-child(4) {
    grid-column: initial;
  }

  .aboutme {
    grid-template-columns: 1fr;
    place-items: center;
  }
}
