@import url("https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300;400;500&family=Open+Sans&family=Outfit:wght@300;400;500;600;700;800;900&family=PT+Sans:wght@700&family=Roboto+Slab:wght@400;500&display=swap");

* {
  font-family: "Outfit", sans-serif;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  /* 1 rem = 10px */
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background: rgb(3, 2, 13);
  background: linear-gradient(
    130deg,
    rgba(3, 2, 13, 1) 36%,
    rgba(9, 9, 112, 0.9949229691876751) 100%,
    rgba(0, 183, 220, 1) 100%
  );
}

h1,
h4,
p,
a {
  color: #fff;
  text-decoration: none;
  margin: 0;
}

ul {
  list-style-type: none;
}

.btn {
  padding: 1.2rem 3.2rem;
  font-size: 1rem;
  text-transform: uppercase;
  background: rgb(248, 217, 15);
  color: #222;
  border: 1px solid #fff;
  font-weight: 600;
  cursor: pointer;
}

.btn-light {
  /* background: rgba(255, 255, 255, 0.2); */
  background: transparent;
  color: #fff;
}

.btn:hover {
  background: rgba(255, 255, 255, 0.2);
  color: #fff;
  transition: 0.3s;
}
